body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #222;
  color: white;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
  text-decoration: underline;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f0f0f0;
  font-family: Georgia, serif;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
}

img {
  width: auto;
  height: auto;
  display: block;
  background-color: #000000;
}

.logoImg {
  width: 200px;
}

.logoDiv {
  text-align: center;
}

img.artfinder {
  width: 160px;
}

.serif {
  font-family: Georgia, serif;
}

.mono {
  font-family: 'Courier New', monospace;
}

.navbar {
  background-color: #6ab446 !important;
}

.nav-link, .navbar-brand {
  color: #fff;
}

.nav-link:hover {
  color: #000;
}
